
a{
  font-style: none;
}
nav{
  display:flex;  
  justify-content: space-around;
  align-items:center;
  border: 1px solid black;
}
nav > ul{
  display:flex;
  
  
}
nav> ul >li{
  list-style: none;
  margin:10px;
  color:inherit;
  text-decoration: none;
}

footer{
  margin-top:2px;
  border:1px solid black;
  position:fixed;
  width:100%;
  justify-content: space-evenly;
  bottom:0px;
  background-color: rgb(107, 110, 112);
}



